{% extends "index.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block content %}
    <div id="content" role="main">
        <article class="detail">
            <div class="header-wrapper">
                {% placeholder intro %}
            </div>
            <div class="article-content">
                {% placeholder content %}
                <div class="footnotes">
                    {% placeholder footnotes %}
                </div>
        </div> <!-- closing of article-wrapper inside of intro -->
        <aside id="sidebar" class="sidebar-detail">
            {% placeholder internal-links %}
            {% placeholder external-links %}
            {% placeholder ads %}
        </aside>
        </article>
    </div>
{% endblock content %}
