{% load cms_tags menu_tags sekizai_tags %}

<!DOCTYPE html>
<html lang="de">    
<head>
	<title>zweikommasieben</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">-->
	<!--[if lt IE 9]>
	<style>
		.blog-item .lead > *:first-child:first-letter,
		.article-content > *:first-child:first-letter {
			letter-spacing: 0;
		}
	</style>
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->
    {% render_block "css" %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css">{% endaddtoblock %}
</head>
<body>
{% cms_toolbar %}
<div id="page">
	<header id="header" role="banner">
		<nav id="nav" role="navigation">
			<h1><a href="index.html" title="zweikommasieben Magazin">zweikommasieben<br>Magazin</a></h1>
			<section id="meta">
				<div id="lang">
				<a href="index.html" title="Deutsch">Deutsch</a>, <a href="#" title="English">English</a>
				</div>
				<div id="search">
				<input type="text" placeholder="Suche" id="s" value="" name="s" class="field">
				</div>
			</section>
            <ul>
                {% show_menu 0 100 100 100 %}
            </ul>
		</nav>
	</header>
	<div id="content" role="main">
        {% block content %}
            {% placeholder blog %}
        {% endblock content %}
	</div>
	<aside id="sidebar">
		<section class="sidebar-item ausgabe">
			<h3>ZKS #9 — Out Now!</h3>
			<div class="sidebar-content">
				<button>Bestellen</button>
				<div class="ausgabe-bild">
					<div class="cover">
						<img src="img/zks9.jpg" alt="ZKS #9">
					</div>
				</div>
			</div>
		</section>
		<section class="sidebar-item add">
			<div class="sidebar-content">
				<img src="img/banner.gif"  alt="Werbung">
			</div>
			<h3 class="tag">Werbung</h3>
		</section>
	</aside>
		
</div>
{% render_block "js" %}
</body>
</html>